*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
}

body{
  background-color: #7f0788;
}

.app-container{
background-color: white;
max-width: 600px;
width: 90%;
margin: 100px auto 0;
padding: 30px;
border-radius: 10px;
} 

.app-container h1{
  font-size: 25px;
  color: #001e4d;
  border-bottom: 1px soild #333;
  padding-bottom: 30px;
  font-weight: bold;
}

.quiz-wrapper{
  padding: 20px 0;
}

.quiz-wrapper h2{
  font-size: 18px;
  color: #001e4d;
}

.quests{
  /* background-color: blue; */
  padding: 2px;
  /* height: 60px; */
}

button{
  background: #fff;
  color: #222;
  font-weight: 600;
  width: 100%;
  /* height: 40px; */
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer ;
  transition: all 0.3s;
}

button:hover:not([disabled]){
  background: #222;
  color: #fff;
}

button:disabled{
  cursor: no-drop;

}



#btn{
  background: #fff;
  color: #222;
  font-weight: 600;
  width: 100%;
  /* height: 40px; */
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 5px;
  cursor: pointer ;
  transition: all 0.3s;
}

#btn:hover:not([disabled]){
  background: #222;
  color: #fff;

}

/* #btn:disabled{
  cursor: no-drop;
} */

#next-btn{
  background-color: #001e4d;
  color: #fff;
  font-weight: 600;
  width: 150px;
  border: 0;
  margin: 20px auto 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: none;
  text-align: center;

}

.correct{
  background-color: #9aeabc;
}

.incorrect{
  background: #ff9393;
}